Repository Yago/sustainable-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

✨ add header
  .eslintrc
  astro.config.mjs
  package.json
  src/components/Header.astro
  src/components/HeaderMobile.tsx
  src/layouts/BaseLayout.astro
  tsconfig.json
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

💄 add Rich content experiment page
  .gitignore
  astro.config.mjs
  package.json
  public/assets/logo.svg
  src/components/Footer.astro
  src/components/Gallery.tsx
  src/components/Header.astro
  src/components/HeaderMobile.tsx
  src/components/Picture.tsx
  src/layouts/BaseLayout.astro
  src/pages/images.astro
  src/pages/rich-content.astro
  tailwind.config.cjs
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

🔧 fix gallery render
  src/pages/rich-content.astro
Due: prettier --check

⚡️ improve youtube embed
  src/components/Youtube.astro
  src/pages/rich-content.astro
Due: prettier --check

⚡️ preload fonts
  src/layouts/BaseLayout.astro
Due: prettier --check

⚡️ optimize cover
  src/components/Picture.tsx
  src/pages/rich-content.astro
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

⚡️ add print css
  src/components/Youtube.astro
  src/layouts/BaseLayout.astro
  src/pages/rich-content.astro
Due: prettier --check

⚡️ add image width/height
  src/components/Picture.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0

⚡️ improve image size web vitals
  src/components/Picture.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0

⚡️ add vite-plugin-pwa
  astro.config.mjs
  package.json
  yarn.lock
Due: none

🐛 fix fonts
  src/layouts/BaseLayout.astro
Due: prettier --check

⚡️ improve font loading
  src/layouts/BaseLayout.astro
Due: prettier --check

⚡️ add image width/height
  src/components/Picture.tsx
  src/config/images.json
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0

⚡️ add image width/height
  src/components/Header.astro
  src/components/HeaderMobile.tsx
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

🔧 add manifest
  public/manifest.json
Due: none

🔧 link manifest
  src/layouts/BaseLayout.astro
Due: prettier --check

⬆️ upgrade deps
  package.json
  postcss.config.cjs
  src/layouts/BaseLayout.astro
  yarn.lock
Due: prettier --check

📝 add homepage and checklist
  package.json
  public/assets/homepage-vector.svg
  src/components/Header.astro
  src/components/HeaderMobile.tsx
  src/components/Tour.astro
  src/config/checklist.json
  src/config/posts.json
  src/pages/checklist.astro
  src/pages/homepage.astro
  src/pages/index.astro
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

💚 fix build
  package.json
  src/components/Gallery.tsx
  src/pages/homepage.astro
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0, prettier --check

📝 remove external avatar
  src/pages/homepage.astro
Due: prettier --check

⚡️ improve perfs
  src/pages/homepage.astro
Due: prettier --check

📝 update content
  src/pages/index.astro
Due: prettier --check

⬆️ update codebase
  astro.config.mjs
  package.json
  src/components/Header.astro
  src/layouts/BaseLayout.astro
  src/pages/rich-content.astro
  yarn.lock
Due: prettier --check

🔧 improve homepage score
  src/pages/index.astro
Due: prettier --check

🍱 add favicons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/manifest.json
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/layouts/BaseLayout.astro
Due: prettier --check

🔧 fix PWA
  astro.config.mjs
  public/manifest.json
  src/layouts/BaseLayout.astro
  yarn.lock
Due: prettier --check

🔧 fix PWA
  src/layouts/BaseLayout.astro
Due: prettier --check

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --check: any of: src/**/*.{twig,html,astro}
